<!-- -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/static/images/favicon.ico">
  <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16" />

  <title>
  ClassGrade | {% block title %}{% endblock %} 
  </title>
  
  <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
  <link rel="stylesheet" href="/static/styles/fontawesome.min.css"/>
  <link rel="stylesheet" href="/static/styles/bootstrap.min.css" >
  <link rel="stylesheet" href="/static/styles/viniste.css" >
  <!-- CSS dynamically added using 'config.options.theme' defined in config file -->

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
    <div >
      <header>
      {% include "includes/navigation.html" %}
      </header>
      <div class="row">
        <div class="col-md-12 col-12">
          {% block content %}{% endblock content %}
        </div>
      </div>
      {% include "includes/scripts.html" %}
      <!-- Specific JS goes HERE -->
      {% block javascripts %}{% endblock javascripts %}
      <!-- FOOTER HERE -->
      {% include "includes/footer.html" %}
    </div>
</body>
</html>
