{% extends 'layouts/base.html' %}
{% block title %} Attendance {% endblock title %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">

        <div class="card" style="width:400px">
        <div class="card-body">
            <form action="/access" method="POST">
                <p>
                    <b class="col-sm-12"> {{qobj['question']}} </b>
                </p>
                <div class="col-md-12 text-center">
                    {% for item in qobj['options'] %}
                        <a href="/question/{{qid}}" class="btn btn-sm btn-primary">{{item}}</a>
                    {% endfor %}
                </div>
              </form>
        </div>
        </div>
        
    </div>
</div>
{% endblock content %}
<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}
